body{
margin: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
gap: 11rem;
background: #06090d;
}

.ripple{
    width: 1rem;
    background: #ff0;
    border-radius: 100px;
}

.ripple,.ripple::before,.ripple::after{
    content:"";
    display: grid;
    grid-area: 1/1;
    aspect-ratio: 1;
    border-radius: 100px;
    box-shadow: 0 0 0 0 #ff03;
    animation: r 3s linear infinite var(--s,0s);
}

.ripple::before{
    --:1s;
}

.ripple::before{
    --:2s;
}

@keyframes r{
    to {box-shadow: 0 0 0 6rem #0000;}
}
